{% extends 'base.html.twig' %}

{% block body %}

<script>
var app = angular.module('projAssignments', ['ngRoute'])
  .config([ '$interpolateProvider', '$httpProvider', function($interpolateProvider, $httpProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    $httpProvider.defaults.headers.common["X-Requested-With"] = "XMLHttpRequest";
    $httpProvider.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
  }
]);

app.controller('projAssignmentsCtrl', ['$scope', '$window', '$http', function($scope, $window, $http) {

    $scope.assignedPax = {{ project_assignments|json_encode|raw }};
    $scope.unassignedPax = {{ project_unassigned_list|json_encode|raw }};
    $scope.projectId = {{ project_id }};

    $scope.getAssignments = function(e) {
      e.preventDefault();

      $http({
        url : url,
        method : "GET",
        data : personObj
      }).then(function (response) {
        // success
      }, function(response) {
        console.log(response);
      });

      return false;
    }

    $scope.assignPerson = function (e) {
      e.preventDefault();

      if (typeof ($scope.personToAdd) == "undefined" || $scope.personToAdd == "") {
        $window.alert("Please select a person a to add!");
        return false;
      }

      var url = "{{ path('assign_person') }}";
      var personObj = $.param({
        'project_id' : $scope.projectId,
        'person_id' : $scope.personToAdd.id
      });

      $http({
        url : url,
        method : "POST",
        data : personObj
      }).then(function (response) {
          var index = -1;
          var upArr = eval( $scope.unassignedPax );
          for( var i = 0; i < upArr.length; i++ ) {
            if( upArr[i].id === $scope.personToAdd.id ) {
              index = i;
              break;
            }
          }
          if( index === -1 ) {
            $window.alert( "Something gone wrong" );
          }
          $scope.assignedPax.push($scope.unassignedPax[index]);
          $scope.unassignedPax.splice( index, 1 );
      }, function(response) {
          console.log(response);
      });

      return false;
    }

    $scope.unassignPerson = function (e, personId) {
      e.preventDefault();

      var url = "{{ path('unassign_person') }}";
      var personObj = $.param({
        'project_id' : $scope.projectId,
        'person_id' : personId
      });

      $http({
        url : url,
        method : "POST",
        data : personObj
      }).then(function (response) {
        var index = -1;
        var apArr = eval( $scope.assignedPax );
        for( var i = 0; i < apArr.length; i++ ) {
          if( apArr[i].id === personId ) {
            index = i;
            break;
          }
        }
        if( index === -1 ) {
          $window.alert( "Something gone wrong" );
        }
        $scope.unassignedPax.push($scope.assignedPax[index]);
        $scope.assignedPax.splice( index, 1 );
      }, function(response) {
        console.log(response);
      });

      return false;
    }
}]);
</script>

<div ng-app="projAssignments" ng-controller="projAssignmentsCtrl" id="assignments_div" class="container">
  <div class="row">
    <div class="col-md-offset-1">
      <div class="col-md-6 col-md-offset-1">
        <h3>{{ project_name }}</h3>

        <form class="form-horizontal" role="form" method="POST" action="#"  ng-submit="assignPerson($event)">
          <div ng-show="unassignedPax.length > 0" id="add-person-div" class="row">
            <input id="project" ng-model="projectId" type="hidden" name="project_id" value="{{ project_id }}">

            <div class="form-group">
              <div class="col-md-7 col-md-offset-1">
                <label for="person"></label>
                <select class="form-control" id="person" name="person_id" ng-model="personToAdd" ng-options="up as (up.first_name + ' ' + up.last_name) for up in unassignedPax">
                  <option value="">--- Select a Person ---</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-1">
                <button id="submit" type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-user"></i> Add
                </button>
              </div>
            </div>
          </div>
        </form>

        <div ng-hide="assignedPax.length > 0" id="no-person-div" class="row">
          <div class="col-md-8 col-md-offset-4">
            <h4>No assignments yet</h4>
          </div>
        </div>

        <table ng-show="assignedPax.length > 0" id="assignments" class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Current Members</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="assigned in assignedPax">
              <td class="assignment-info">{[{ assigned.first_name }]} {[{ assigned.last_name }]}</td>
              <td><a class="remove-button" data-row-id="{[{ assigned.id }]}" href="#" ng-click="unassignPerson($event, assigned.id)">Remove</a></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3 col-md-offset-1">
      </div>
    </div>
  </div>
</div>

{% endblock %}
