{% extends 'base.html.twig' %}

{% block body %}
<script type="text/javascript">
(function($){
  var updateView = function (tbl_size){
    if($('#person').children('option').length == 0){
      $("#add-person-div").hide();
    }else{
      $("#add-person-div").show();
    }

    if(tbl_size > 0){
      $("#assignments").show();
      $("#no-person-div").hide();
    }else{
      $("#assignments").hide();
      $("#no-person-div").show();
    }
  }

  var assignPerson = function(){
    $.ajax({
      url: "{{ path('assign_person') }}",
      type: "POST",
      data: {
        project_id: $("#project").val(),
        person_id: $("#person").val()
      },
      dataType: "JSON",
      error: function (request, status, error) {
        console.log(error);
      },
      success: function (response) {
        var tbl_size = $('#assignments tr').size()-1;
        var newRow = '<tr data-row-id='+$("#person").val()+'><td>'+$("#person option:selected").text()+'</td><td><a class="remove-button" data-row-id="'+$("#person").val()+'" href="#">{{ 'Remove'|trans }}</a></td></tr>';

        $(newRow).click(function(){
          unassignPerson($(this));
        });

        $('#assignments').append(newRow)
        tbl_size++;

        $("#unassigned-option-"+$("#person").val()).remove();

        updateView(tbl_size);
      }
    })
  }

  var unassignPerson = function(a){
    $.ajax({
      url: "{{ path('unassign_person') }}",
      type: "POST",
      data: {
        project_id: $("#project").val(),
        person_id: $(a).attr('data-row-id')
      },
      dataType: "JSON",
      error: function (request, status, error) {
        console.log(error);
      },
      success: function (response) {
        var $tr = $(a).closest('tr');
        var tbl_size =$('#assignments tr').size()-1;

        $tr.find('td').fadeOut(300,function(){
          $tr.remove();
        });
        tbl_size--;

        $("#person").append('<option id="unassigned-option-'+$(a).attr('data-row-id')+'" value="'+$(a).attr('data-row-id')+'">'+$(a).closest('tr').children('td.assignment-info').text()+'<\/option>');

        updateView(tbl_size);
      }
    })
  }

  $(document).ready(function(){
    $("#submit").click(function(){
      assignPerson();
    });
    $(".remove-button").click(function(){
      unassignPerson($(this));
    });
  });
})(jQuery);
</script>

<div id="assignments_div" class="container">
  <div class="row">
    {% for flash_message in app.session.flashBag.get('notice') %}
      <div class="flash-notice">
        {{ flash_message }}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-offset-1">
      <div class="col-md-6 col-md-offset-1">
        <h3>{{ project_name }}</h3>

        <form class="form-horizontal" role="form" method="POST" action="#">
          {% if project_unassigned_list is null or project_unassigned_list is empty %}
            <div id="add-person-div" class="row" style="display:none;">
          {% else %}
            <div id="add-person-div" class="row">
          {% endif %}
            <input id="project" type="hidden" name="project_id" value="{{ project_id }}">
            <div class="form-group">
              <div class="col-md-7 col-md-offset-1">
                <label for="person"></label>
                <select class="form-control" id="person" name="person_id">
                  {% for unassigned in project_unassigned_list %}
                    <option id="unassigned-option-{{ unassigned.id }}" value="{{ unassigned.id }}">{{ unassigned.first_name }} {{ unassigned.last_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-1">
                <button id="submit" type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-user"></i> Add
                </button>
              </div>
            </div>
          </div>
        </form>

        {% if project_assignments is null or project_assignments is empty %}
          <div id="no-person-div" class="row">
            <div class="col-md-8 col-md-offset-4">
              <h4>No assignments yet</h4>
            </div>
          </div>
          <table id="assignments" class="table table-hover table-responsive" style="display:none;">
            <thead>
              <tr>
                <th>Current Members</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        {% else %}
          <div id="no-person-div" class="row" style="display:none;">
            <div class="col-md-8 col-md-offset-4">
              <h4>No assignments yet</h4>
            </div>
          </div>
          <table id="assignments" class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Current Members</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for project_assignment in project_assignments %}
              <tr data-row-id="{{ project_assignment.id }}">
                <td class="assignment-info">{{ project_assignment.first_name }} {{ project_assignment.last_name}}</td>
                <td><a class="remove-button" data-row-id="{{ project_assignment.id }}" href="#">{{ 'Remove'|trans }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="col-md-3 col-md-offset-1">
    </div>
  </div>
</div>

{% endblock %}
