{% extends 'base.html.twig' %}

{% block body %}
<script type="text/javascript">
(function($){
  var setCurrencyFormat = function(){
    var proj_tbl_size = $("#project-list tr").size();

    $("#project-list tr").not(":first").each(function(){
      var td_budget = $(this).find('td.budget');
      var budget = Number($(td_budget).data('budget'));
      var budget_localized = budget.toLocaleString("de-DE", {style: "currency", currency: "EUR", minimumFractionDigits: 2});

      $(td_budget).html(budget_localized);
    });
  }

  var getProjects = function(page){
    $.ajax({
      url: "{{ path('projects') }}",
      type: "GET",
      data: {
        page: page
      },
      dataType: "JSON",
      error: function (request, status, error) {
        console.log(error);
      },
      success: function(response) {
        var resp = $.parseJSON(response);
        var tbody_content = '';

        $('#project-list').attr('data-page', page);

        $.each(resp.projects, function(i, proj){
          var url = "/projector/projects/" + proj.id + "/assignments"
          tbody_content += '<tr><td>' + proj.name + '</td>';
          tbody_content += '<td class="budget" data-budget="'+proj.budget+'">' + proj.budget + '</td>';
          tbody_content += '<td><a href="'+ url +'">'+'{{ "Assignments"|trans }}'+'</a></td></tr>';
        });

        $('#project-list tbody').html(tbody_content);

        var paginate_content = '';

        paginate_content += '<li class="page-item">';
        paginate_content += '<a id="prev" class="page-link" href="#"><< Previous';
        paginate_content += '</a></li>';
        for( i=1 ; i<=$("#project-list").data("maxpage") ; i++ ){
          if(i == page){
            paginate_content += '<li class="page-item active">';
            paginate_content += '<a class="page-link" href="#">'+i;
            paginate_content += '<span class="sr-only">(current)</span></a></li>';
          }else{
            paginate_content += '<li class="page-item">';
            paginate_content += '<a class="page-link" href="#">'+i;
            paginate_content += '</a></li>';
          }
        }
        paginate_content += '<li class="page-item">';
        paginate_content += '<a id="next" class="page-link" href="#">Next >>';
        paginate_content += '</a></li>';

        $('#proj-paginate ul').html(paginate_content);

        if( page == 1 ){
          $("#prev").closest('li').attr('class', 'page-item disabled');
        }

        if( page == $("#project-list").data("maxpage") ){
          $("#next").closest('li').attr('class', 'page-item disabled');
        }

        setCurrencyFormat();
        $("#prev").click(function(){
          getProjects( page - 1 );
        });
        $("#next").click(function(){
          getProjects( page + 1 );
        });

      }
    })
  }

  $(document).ready(function(){
    setCurrencyFormat();
    $("#prev").click(function(){
      getProjects( $("#project-list").data("page") - 1 );
    });
    $("#next").click(function(){
      getProjects( $("#project-list").data("page") + 1 );
    });
  });
})(jQuery);
</script>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
          {{ flash_message }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-2">
        {% if projects is null or projects is empty %}
          <h4>No projects available</h4>
        {% else %}
          <table id="project-list" data-page="{{ page }}" data-maxpage="{{ max_page }}" class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Budget</th>
                <th>Tasks</th>
              </tr>
            </thead>
            <tbody>
            {% for project in projects %}
              <tr>
                <td>{{ project.name }}</td>
                <td class="budget" data-budget="{{project.budget}}">{{ project.budget }}</td>
                <td><a href="{{ path('view_assignments', {'project_id':project.id}) }}">{{ 'Assignments'|trans }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <nav id="proj-paginate">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled">
              <a id="prev" class="page-link" href="#"><< Previous</a>
            </li>
            {% for i in 1..max_page %}
              {% if i == page %}
                <li class="page-item active">
                  <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="#">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="page-item">
              <a id="next" class="page-link" href="#">Next >></span>
            </li>
          </ul>
        </nav>

      {% endif %}
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="btn-group-vertical" role="group">
        <a class="btn btn-primary" href="{{ path('new_project') }}" role="button">Create Project...</a>
        <a class="btn btn-primary" href="{{ path('new_person') }}" role="button">Create Person...</a>
      </div>
  </div>
</div>

{% endblock %}
